/* CSS Document */
a
{
	color:#333 !important;
	text-decoration:none;
}
.hl-brand a
{
	text-transform:uppercase;
	
	color:#333 !important;
	text-decoration:none;
	display:inline-block;
}
.hl-brand span
{
	margin:0 5px;	
}
.hl-brand img
{
	width:90%;
	margin-bottom:1em;
}	
.hl-brand div
{
	text-align:center;
}
#hotline
{
	float:right;
	font-size:0.7em;
	color:#b61219;
}
#supportonline
{
	text-align:right;	
}
.product-list img
{
	width:100%;
}
.product-list .title
{
	height:auto;	
}
.product-list .title a
{
	font-weight:bold;	
}
.price-group .price
{
	text-align:center;
}
.price-group .genuine
{
	text-decoration:line-through;	
}
.price-group .shop
{
	color:red;
}
.price-group
{
	height:7em;	
}
.ui-collapsible-content > .ui-listview .ui-collapsible-content > .ui-listview a{
    padding-left:2em;
}
.number
{
	text-align:right;
	width:3em;	
}
.hl-editor img
{
	width:100%;
}
#hl-error
{
	color:red;	
}
h1
{
	text-transform:uppercase;	
}
.hl-home-brand img
{
	width:12em;
}
#hl-categories
{
	list-style-type:disc;
	list-style-position:inside;
	padding:0 1em;
}

#hl-categories li
{
	float:left;
	padding:0.2em 0;
	width:50%;	
}

#hl-sitemap
{
	list-style-type:square;
	list-style-position:inside;
	padding:0 1em;
	color:red;
}
#hl-sitemap li
{
	float:left;
	padding:0.2em 0;
	width:50%;	
}

#hl-page-sileder
{
	background:#FFF;	
}
#hl-page-sileder h3
{
	
	text-transform:uppercase;
}
.hl-control
{
	position:fixed;
	right:0;
	text-align:center;
	z-index:1000;
}
.hl-control div
{
	padding:10px;	
}
.hl-control img
{
	width:1.3em;
	opacity:0.8;
	cursor:pointer;
}
@media (min-width: 60em) {
	.ui-collapsible-content > .ui-listview .ui-collapsible-content > .ui-listview a{
    	padding-left:5em;
	}	
	.product-list .title
	{
		height:6em;	
	}
	#hl-categories li
	{
		float:left;
		padding:0.2em 0;
		width:25%;	
	}
	#hl-sitemap li
	{
		float:left;
		padding:0.2em 0;
		width:25%;	
	}
}