/* CSS Document */
.hl-brand a
{
	text-transform:uppercase;
	
	color:#333 !important;
	text-decoration:none;
	display:inline-block;
}
.hl-brand span
{
	margin:0 5px;	
}
#hotline
{
	text-align:right;
	font-size:0.7em;
	color:#b61219;
}
#supportonline
{
	text-align:right;	
}
