.product
{
	width:183px;
	height:280px;
	border:thin solid #CCC;
	margin:3px;
	border-radius:5px;
}
.tip {
    background: none repeat scroll 0 0 #1D1D1D;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: none;
    padding: 5px;
    position: absolute;
    z-index: 1000;
}
.product-list-image
{
	height:195px;	
}
.product-right
{
	width:480px;	
}
.product-price
{
	
}
.product-pricepromotion
{
	color:#F00;
	font-size:1.2em;
	font-weight:bold;
	height:1.2em;
}
.product-price-no
{
	text-decoration:line-through;	
}